@media (max-width: 767px) {
    .CardSearch {
        width: 35vw;
    }
}

@media (min-width: 768px) {
    .CardSearch {
        width: 12rem;
    }
}

.InsideCard {
    margin-bottom: 1rem;
    min-height: 35vh;
    max-height: 35vh;
    background-color: rgba(235, 236, 255, 1);
    border: 0 solid;
    overflow-y: auto;
    position: relative;
    z-index: 0;
    scrollbar-color: #4747FE rgba(183, 188, 255, 0.5);
}

.InsideCardDum {
    height: 2rem;
    margin-bottom: -1rem;
    background-color: rgba(235, 236, 255, 1);
    border: 0 solid;
    border-radius: 0;
    overflow-y: auto;
    position: relative;
    z-index: 0;
}

.SearchForm {
    margin-bottom: -1rem;
    z-index: 1;
    position: relative;
}

.SearchCard {
    font-size: 20px;
    position: relative;
    border-color: #4747FE;
    border-width: 3px;
    border-radius: 20px;
}

.CardItem {
    font-size: 20px;
    font-weight: 600;
    max-height: 8vh;
}

.CardItemFixed {
    color: #222222;
    background-color: rgb(194, 196, 253);
    border-radius: 10px;
    max-height: 8vh;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.CardItem:hover {
    color: #222222;
    background-color: rgb(214, 215, 251);
    border-radius: 10px;
}

.CardSearch {
    flex-direction: row;
    justify-content: center;
    height: 2.5rem;
    border-radius: 1rem;
    border: 0;
    background-color: #FFF7FC;
}

.CardSearch:hover {
    background-color: #d6d6fb;
    cursor: pointer;
}

.FlagIcon {
    font-size: 20px;
    color: #7E7EFE;
    margin: 0rem 0.5rem;
}

.CloseIcon {
    font-size: 30px;
    position: absolute;
    top: 1.3rem;
    right: 0;
    margin-right: 2rem;
    z-index: 1;
    color: #4747FE;
}

.CloseIcon:hover {
    color: #3a3ad2;
    cursor: pointer;
}

.SelectButton {
    border: 0;
    border-radius: 15px;
    background-color: #4747FE;
    color: #FFF7FC;
    font-size: 16px;
    height: 2rem;
    width: 4rem;
}

.SelectButton:hover {
    background-color: #3a3ad2;
}