@media (max-width: 767px) {
    .CardTime {
        width: 36vw;
    }
    .NowtimeButton {
        width: 45vw;
    }
    .UnderArrow {
        display: none;
        visibility: hidden;
    }
    .UnderArrow:hover {
        display: none;
        visibility: hidden;
    }
    .Arrow {
        display: none;
        visibility: hidden;
    }
    .Arrow:hover {
        display: none;
        visibility: hidden;
    }
    .TimeForm {
        width: 14rem;
        font-size: 30px;
        font-weight: bold;
        background-color: rgab(255, 255, 255, 0);
        border: 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .CardTime {
        width: 10rem;
    }
    .NowtimeButton {
        width: 15rem;
    }
    .UnderArrow {
        display: none;
        visibility: hidden;
    }
    .UnderArrow:hover {
        display: none;
        visibility: hidden;
    }
    .Arrow {
        display: none;
        visibility: hidden;
    }
    .Arrow:hover {
        display: none;
        visibility: hidden;
    }
    .TimeForm {
        width: 14rem;
        font-size: 30px;
        font-weight: bold;
        background-color: rgab(255, 255, 255, 0);
        border: 0;
    }
}

@media (min-width: 1200px) {
    .CardTime {
        width: 10rem;
    }
    .NowtimeButton {
        width: 15rem;
    }
    .UnderArrow {
        font-size: 15px;
        font-weight: bold;
        width: 4rem;
        color: #FFF7FC;
        background-color: #4747FE;
        border: 0;
        border-radius: 3rem;
        margin-left: 0.5rem;
    }
    .UnderArrow:hover {
        background-color: #3a3ad2;
        cursor: pointer;
    }
    .Arrow {
        font-size: 15px;
        font-weight: bold;
        width: 4rem;
        color: #FFF7FC;
        background-color: #4747FE;
        border: 0;
        border-radius: 3rem;
        margin-left: 0.5rem;
    }
    .Arrow:hover {
        background-color: #3a3ad2;
        cursor: pointer;
    }
    .TimeForm {
        width: 14rem;
        font-size: 30px;
        font-weight: bold;
        height: 3rem;
        background-color: rgab(255, 255, 255, 0);
        border: 0;
    }
}

.CardTime {
    height: 4rem;
    margin: 0rem 1rem 0rem 0rem;
    border-radius: 10px;
    border: 0;
    background-color: #FFF7FC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NowtimeButton {
    height: 4rem;
    border: 0;
    border-radius: 10px;
    background-color: #4848FE;
    font-weight: bold;
    font-size: 20px;
    z-index: 2;
}

.NowtimeButton:hover {
    background-color: #3a3ad2;
}

.CardTime:hover {
    background-color: #d6d6fb;
}

.CloseIcon {
    font-size: 30px;
    position: absolute;
    top: 1.3rem;
    right: 0;
    margin-right: 2rem;
    z-index: 1;
    color: #4747FE;
}

.CloseIcon:hover {
    color: #3a3ad2;
    cursor: pointer;
}

.CheckButton {
    background-color: #4747FE;
    height: 5rem;
    font-weight: bold;
    font-size: 20px;
}

.CheckButton:hover {
    background-color: #3a3ad2;
    height: 5rem;
    font-weight: bold;
    font-size: 20px;
}

.AmPmSpan {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
    font-weight: bold;
    margin: 0rem 0.2rem;
}

.ModalIn {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem 0rem;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.ModalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.ModalBodyDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}